<h3>Le nombre de formations est {{  formations|length  }}</h3>
{% set nbMax=0 %}
{% for form in formations %}
    {% set nbMax = max(form.nb_participants,nbMax) %}
{% endfor %}

<table border="1">
    <tr>
        <th>Reference</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Date Debut</th>
        <th>DAate fin</th>
        <th>Nb Participants</th>
    </tr>
    {% for f in formations %}
{#        {% x = x + {{ f.nb_participants }}%}#}
    <tr>
{#        {% if 'theorique' in f.Description %}#}
{#        {% if f.nb_participants == nbMax %}#}
            <td>{{f.ref}}</td>
            <td>{{f.Titre | upper}}</td>
            <td>{{f.Description}}</td>
            <td>{{f.date_debut}}</td>
            <td>{{f.date_fin}}</td>
            <td>{{f.nb_participants}}</td>
            {% if f.nb_participants == 0 %}
{#                <td><a href="">participer</a> </td>#}
                <td>
                    <form action="{{ path('detail', {'id' : f.ref}) }}">
                        <button> participer</button>
                    </form>
                </td>

            {% endif%}
    {% else %}
        <h1>Tableau est vide </h1>
{#        {% endif %}#}
{#        {% endif %}#}
    </tr>
    {% endfor %}
</table>
{% set nbTot=0 %}
{% for f in formations %}
    {% set nbTot = nbTot + f.nb_participants %}
{% endfor %}
<h3>Le nombre de participant est {{ nbTot }}</h3>
